body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  max-width: 600px;
  text-align: center;
}
#loading {
  font-size: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}
.modal {
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

.btn-group {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  overflow: hidden;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15rem;
  flex-direction: column;
}
.fpsbox {
  /*左下角*/
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
}
.btn {
  width: 12rem;
  height: 3rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.3rem 0.5rem 0.5rem 0.3rem;
  box-shadow: inset -0.4rem -0.4rem 0.1rem 0 rgba(0, 0, 0, 0.2);
  border: solid 0.1rem var(--black);
  border-radius: 0.8rem;
  user-select: none;
  transition: all 0.2s ease;
}
.btn:focus,
input:focus {
  box-shadow: none !important;
}
.btn:active,
.btn.active {
  padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  box-shadow: inset 0.4rem 0.4rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}
.canvas-container {
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  width: 540px;
  height: 405px;
}
.canvas-container video {
  width: 540px;
  height: 405px;
}
.canvas-container.flip video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 540px;
  height: 405px;
  user-select: none;
}
.btn.disabled {
  opacity: 0.6;
  transform: none !important;
  cursor: not-allowed;
}
.hide {
  display: none !important;
}
.footer {
  width: 50%;
  margin-top: 1rem;
  gap: 30px;
  display: flex;
}
.tip{
  text-align: center;
  font-size: 30px;
}
.score{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.round {
  /*圆角进度条外壳*/
  width: 64rem;
  border-radius: 5rem;
  overflow: hidden;
}
progress {
  width: 100%;
  height: 20px;
  color: #555;
  background-color: #eee;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

/* 已完成部分的样式 */
progress::-webkit-progress-value {
  background-color: #00cccccc;
}

/* 未完成部分的样式 */
progress::-webkit-progress-bar {
  background-color: #eee;
}

/* Modal Styles From Shadlc */

.modal {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.modal-content {
  transition: transform 0.5s;
  position: absolute;
  top: 16rem;
  padding: 0.5rem;
  padding-top: 1rem;
  background: white;
  border: solid 0.1rem var(--black);
  border-radius: 0.5rem;
  transition: transform 0.5s ease;
}
.modal-title {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 2rem 0.5rem 2rem;
}
.modal-close-btn {
  position: absolute;
  right: 0rem;
  top: -0.4rem;
}
.modal-close-btn::after {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  content: "×";
  font-size: 2rem;
  cursor: pointer;
}
.modal-body {
  max-height: 90vh;
  max-width: 80vw;
  min-height: 20vh;
  min-width: 50vw;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow: scroll;
}
.modal-text {
  font-size: 5rem;
  font-weight: normal;
  width: 100%;
  white-space: pre-wrap;
}
.modal-comment {
  width: 100%;
  margin-top: 0.5rem;
  border-top: solid 0.1rem var(--black);
}
.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 1rem;
}
.modal-footer:empty {
  display: none;
}
