<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
</head>
<body>
    <video id="localVideo" autoplay playsinline></video>
    <img id="remoteVideo" alt="Remote video" />
    <button id="startBtn" onclick="start()">Start</button>
    <button id="stopBtn" onclick="stop()">Stop</button>
    <script src="static/js/socket.io.min.js"></script>
    <!-- <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/posenet"></script> -->
    <script src="static/js/tf.min.js"></script>
    <script src="static/js/posenet.min.js"></script>
    <script src="static/js/camera.js"></script>
    <script src="static/js/index.js"></script>
    
    
</body>
</html>
