<!DOCTYPE html>
<html>

<head>
    <title>PoseNet - Camera Feed Demo</title>
    <style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
    }

    .footer-text {
        max-width: 600px;
        text-align: center;
        margin: auto;
    }

    @media only screen and (max-width: 600px) {
      .footer-text, .dg {
        display: none;
      }
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="info" style='display:none'>
    </div>
    <div id="loading">
        Loading the model...
    </div>

    <div id='main'>
        <video id="video" playsinline style=" -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        display: none;
        ">
        </video>
        <canvas id="output"></canvas>
        <video id="remoteVideo"></video>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
    </div>
    
    <script src="static/js/tf.min.js"></script>
    <!-- 加载dat.gui -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script> -->
    <script src="static/js/dat.gui.min.js"></script>
    <script src="static/js/posenet.min.js"></script>
    <script src="static/js/Stats.min.js"></script>
    <script src="static/js/demo_util.js"></script>
    <script type="module" src="static/js/camera.js"></script>


</body>

</html>
