<!DOCTYPE html>
<html>

<head>
    <title>迳口麒麟舞AI传承大师</title>
    <style>

    .footer-text {
        max-width: 600px;
        text-align: center;
        margin: auto;
    }

    @media only screen and (max-width: 600px) {
      .footer-text, .dg {
        display: none;
      }
    }
    
    </style>
    <link rel="stylesheet" href="static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-image: url('static/img/background.png');background-repeat: no-repeat;background-size: cover;">
    
    <div id="info" style='display:none'>
    </div>
    <div id="loading">
        Loading the model...
    </div>

    <div class='main' id="main">
        <div style="display:flex;flex-direction:row;">
            <video id="video" playsinline style=" -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            display: none;
            ">
            </video>
            <div style="position:relative;">
                <canvas id="output" style="margin:2rem"></canvas>
                <canvas id="output_mask" style="margin:2rem;position:absolute;top:0;right:0;z-index:100;"></canvas>
            </div>
            <img id='remoteVideo' style="margin:2rem;vertical-align: top;" />
        </div>  
        <div>
            <div class="round">
                <progress id="progress" value="1" max="100"></progress>
            </div>
        </div>
        <div>
            <div>
                <div id="score" class="score">得分：</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="btn" id="start"><div>Start</div></div>
        <div class="btn" id="pause"><div>Pause</div></div>
        <div class="btn" id="stop"><div>Stop</div></div>
    </div>
    
    <div class="fpsbox">

    </div>
    
    <script src="static/js/tf.min.js"></script>
    <script src="static/js/dat.gui.min.js"></script>
    <script src="static/js/posenet.min.js"></script>
    <script src="static/js/Stats.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/demo_util.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/tracker.js"></script>
    <script type="module" src="static/js/camera.js"></script>


</body>

</html>
